{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="clearfix"></div>
        <div id="utf_listing_gallery_part" class="utf_listing_section">
            <div class="utf_listing_slider utf_gallery_container margin-bottom-0">
                {% for hotel_gallery in hotel.hotel_gallery.all %}
                    <a href="{{ hotel_gallery.image.url }}" data-background-image="{{ hotel_gallery.image.url }}" class="item utf_gallery"></a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row utf_sticky_main_wrapper">
                <div class="col-lg-8 col-md-8">
                    <div id="titlebar" class="utf_listing_titlebar">
                        <div class="utf_listing_titlebar_title">
                            <h2>{{ hotel.name }}</h2><br>
                            <span><i class="fa fa-map-marker"></i> {{ hotel.address }}</span><br>
                            <span><i class="fa fa-phone"></i> {{ hotel.mobile }} </span><br>
                            <span><i class="fa fa-envelope"></i> {{ hotel.email }} </span><br>
                            <div class="utf_star_rating_section" data-rating="{{hotel.average_rating | floatformat:1}}">
                                {% if hotel.average_rating == None %}
                                    <div class="utf_counter_star_rating">No Reviews Yet</div>
                                {% else %}
                                    <div class="utf_counter_star_rating">({{ hotel.average_rating | floatformat:1}}) - ({{ hotel.rating_count }} Reviews)</div>
                                {% endif %}
                            </div>
                            <ul class="listing_item_social">
                                {% if bookmark %}
                                    <li><a  data-hotel="{{ hotel.id }}" class="add-to-bookmark-{{ hotel.id }}" id="add-to-bookmark"><i class="fa fa-heart" style="color: red;"></i></a></li>
                                {% else %}
                                    <li><a  data-hotel="{{ hotel.id }}" class="add-to-bookmark-{{ hotel.id }}" id="add-to-bookmark"><i class="fa fa-heart" style="color: gray;"></i></a></li>
                                {% endif %}

                                {% if request.user.is_authenticated %} 

                                    {% if not reviews %}
                                        <li>
                                            <a href="#small-dialog" class="popup-with-zoom-anim" id="add-review-button"><i class="fa fa-star"></i>Add Review</a>
                                        </li>
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <div class="small_dialog_header">
                                                <h3 class="">Write a review</h3>
                                            </div>
                                            <div class="utf_message_reply_block margin-top-0" id="review_div">
                                                <textarea cols="40" rows="3" id="review-input" placeholder="Add a Review..."></textarea>
                                                <select name="" id="rating-input">
                                                    <option value="1">★☆☆☆☆</option>
                                                    <option value="2">★★☆☆☆</option>
                                                    <option value="3">★★★☆☆</option>
                                                    <option value="4">★★★★☆</option>
                                                    <option value="5">★★★★★</option>       
                                                </select>
                                                <button data-hotel="{{hotel.id}}" class="button" id="review-btn">Submit Review</button>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% else %}

                                    <li><a href="{% url 'userauths:sign-in' %}?next={{request.path}}"><i class="fa fa-sign-in"></i> Login to Write Review</a></li>

                                {% endif %}
                                
                                <li><a style = "cursor: pointer;" id = "clipboard"><i class="fa fa-share"></i> Share</a></li>
                                <script>
                                    var $temp = $("<input>");
                                    var $url = $(location).attr('href');
                                    $('#clipboard').on('click',function(){
                                        $("body").append($temp);
                                        $temp.val($url).select();
                                        document.execCommand("copy");
                                        $temp.remove();
                                        $("#clipboard").html("URL copied <i class = 'fa fa-check-circle'></i>");
                                    })
                                </script>
                            </ul>
                        </div>
                    </div>
                    <div id="utf_listing_overview" class="utf_listing_section">
                        <h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30">Description</h3>
                        <p>{{ hotel.description|safe }}</p>
                        <div id="utf_listing_tags" class="utf_listing_section listing_tags_section margin-bottom-10 margin-top-0">
                            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> {{ hotel.mobile }}</a>
                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ hotel.email }}</a>
                        </div>
                        <div class="social-contact">
                            <a href="#" class="facebook-link"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="#" class="twitter-link"><i class="fa fa-twitter"></i> Twitter</a>
                            <a href="#" class="instagram-link"><i class="fa fa-instagram"></i> Instagram</a>
                        </div>
                    </div>

                    <div id="utf_listing_tags" class="utf_listing_section listing_tags_section">
                        <h3 class="utf_listing_headline_part margin-top-40 margin-bottom-40">Tags</h3>
                        {% for t in hotel.tags.all %}
                            <a href="#"><i class="fa fa-tag" aria-hidden="true"></i> {{ t.name }}</a>
                        {% endfor %}
                    </div>

                    <div class="utf_listing_section">
                        <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">Pricing</h3>
                        <div class="show-more">
                            <div class="utf_pricing_list_section">
                                <h4>Room Type</h4>
                                <ul>
                                    {% for r in hotel.hotel_room_types.all %}
                                        <li>
                                            <h5> {{ r.type }} </h5>
                                            <p><strong>Price :</strong>₹{{ r.price }}/Night</p>
                                            <p><strong>Room Capacity :</strong>{{ r.room_capacity }} Persons</p>
                                            <p><strong>Number of Beds :</strong>{{ r.number_of_beds }} Beds</p>
                                            <span>₹{{ r.price }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="show-more-button" data-more-title="Show More" data-less-title="Show Less"><i class="fa fa-angle-double-down"></i></a>
                    </div>

                    <div id="utf_listing_amenities" class="utf_listing_section">
                        <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">Amenities</h3>
                        <ul class="utf_listing_features checkbxes margin-top-0">
                            {% for hotel in hotel.hotel_features %}
                                <li>
                                    {% if hotel.icon_type == "Bootstrap Icons" %}
                                        <i class="bi bi-{{hotel.icons}}"></i>
                                    {% endif %}

                                    {% if hotel.icon_type == "Fontawesome Icons" %}
                                        <i class="fa fa-{{hotel.icons}}"></i>
                                    {% endif %}
                                    {{ hotel.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="utf_listing_faq" class="utf_listing_section">
                        <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">FAQ's</h3>
                        <div class="style-2">
                            <div class="accordion">

                                {% for h in hotel.hotel_faqs %}
                                <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-solid fa-angle-right"></i> ({{forloop.counter}}) {{h.question}}</h3>
                                <div>
                                    <p>{{h.answer}}</p>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>

                    <div id="utf_listing_reviews" class="utf_listing_section">
                        <h3 class="utf_listing_headline_part margin-top-75 margin-bottom-20">Reviews <span>({{ all_reviews.count }})</span></h3>
                        <div class="clearfix"></div>
                        <div class="reviews-container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div id="review_summary">
                                        {% if hotel.average_rating == None %}
                                            <strong>Not Rated Yet</strong>
                                        {% else %}
                                            <strong>{{hotel.average_rating|floatformat:1}}/5</strong>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments utf_listing_reviews">
                            <ul>
                                {% for r in all_reviews %}
                                    <li>
                                        <div class="avatar"><img src="{{ r.user.profile.image.url }}" alt="" /></div>
                                        <div class="utf_comment_content">
                                            <div class="utf_arrow_comment"></div>
                                            <div class="utf_star_rating_section" data-rating="{{ r.rating }}"></div>
                                            <div class="utf_by_comment"><p>{{ r.user.profile.full_name }}</p><span class="date"><i class="fa fa-calendar"></i> {{ r.date }}</span> </div>
                                            <p>{{ r.review }}</p>
                                        </div>
                                    </li>
                                    {% empty %}
                                <li>
                                    <div class="utf_comment_content">
                                        <div class="utf_arrow_comment"></div>
                                        <div class="utf_by_comment">No Reviews Yet</div>  
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-lg-4 col-md-4 margin-top-75 sidebar-search">
                    <div class="utf_box_widget booking_widget_box">
                        <h3><i class="fa fa-calendar"></i> Booking </h3>
                        <div class="row with-forms margin-top-0">
                            <form class="row with-forms margin-top-0" method="POST" action="{% url 'booking:check_room_availability' %}">
                                {% csrf_token %}
                                <!-- Hotel ID -->
                                <input type="hidden" value="{{hotel.id}}" name="hotel-id" id="">
                                <div class="col-lg-12 col-md-12 select_date_box">
                                    <label for="">Check-in Date</label>
                                    <input type="date" class="checkin-date"value="{{checkin}}" name="checkin" placeholder="Select Date">
                                </div>
                                <div class="col-lg-12 col-md-12 select_date_box">
                                    <label for="">Check-out Date</label>
                                    <input type="date"  class="checkout_date checkout-date" name="checkout" value="{{checkout}}"  placeholder="Select Date">
                                </div>
                                <script>
                                    const today = new Date()
                                    const formattedToday = today.toISOString().split("T")[0]
                                    console.log(formattedToday);
                                    document.querySelector(".checkout-date").min = formattedToday
                                    document.querySelector(".checkin-date").min = formattedToday
                                </script>

                                <div class="with-forms">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="#">Guests: <span class="qtyTotal" name="qtyTotal">1</span></a>
                                        <div class="panel-dropdown-content">
                                            <div class="qtyButtons">
                                                <div class="qtyTitle">Adults</div>
                                                <input type="text" name="adult" {% if adult == None %}value="1"{% else %}value="{{adult}}"{% endif %}>
                                            </div>
                                            <div class="qtyButtons">
                                                <div class="qtyTitle">Childrens</div>
                                                <input type="text" name="children" {% if children == None %}value="1"{% else %}value="{{children}}"{% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </div>
              
                                <div class="with-forms margin-top-30">
                                    <div class="col-lg-12 col-md-12 ">
                                        <a href="#">Select Room Type</a>
                                        <select name="room-type" class="utf_chosen_select_single" required>
                                            {% for r in hotel.hotel_room_types %}
                                                <option value="{{r.slug}}">{{r.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                              
                                <button type="submit" class="utf_progress_button button fullwidth_block margin-top-5">Check Availability</button>
                            </form>
                        </div>
                        <button class="like-button add_to_wishlist"><span class="like-icon"></span> Add to Wishlist</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_box_widget margin-top-35">
                        <h3><i class="fa fa-solid fa-user"></i> Contact Info</h3>
                        <div class="utf_hosted_by_user_title"> <a href="#" class="utf_hosted_by_avatar_listing"><img src="{{hotel.user.profile.image.url}}" alt=""></a>
                            <h4><a href="#">{{hotel.user.profile.full_name}}</a><span>@{{hotel.user.username}}</span>
                                <span> Posted on: {{hotel.date|date:"d M,Y"}}</span>
                            </h4>
                        </div>
                        <ul class="utf_social_icon rounded margin-top-10">
                            <li><a class="facebook" href="{{hotel.user.profile.facebook}}"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="{{ hotel.user.profile.twitter }}"><i class="icon-twitter"></i></a></li>
                        </ul>
                        <ul class="utf_listing_detail_sidebar">
                            <li><i class="fa fa-location-arrow"></i> {{ hotel.user.profile.address }} {{ hotel.user.profile.city }} {{ hotel.user.profile.state }} {{ hotel.user.profile.country }}</li>
                            <li><i class="fa fa-phone"></i> {{ hotel.user.profile.phone }}</li>
                            <li><i class="fa fa-envelope-o"></i> <a href="mailto:{{hotel.user.email}}">{{hotel.user.email}}</a></li>
                        </ul>
                    </div>

                    <div class="utf_box_widget listing-share margin-top-35 margin-bottom-40 no-border">
                        <h3><i class="fa fa-solid fa-bookmark"></i> Bookmark Listing</h3>
                        <span>{{bookmark.count}} People Bookmarked This Hotel</span>
                    </div>
                    <div class="utf_box_widget opening-hours review-avg-wrapper margin-top-35">
                        <h3><i class="fa fa-solid fa-star"></i> Rating Average </h3>
                        <div class="box-inner">
                            <div class="rating-avg-wrapper text-theme clearfix">
                                {% if hotel.average_rating == None %}
                                <div class="utf_counter_star_rating">No Reviews Yet</div>
                                {% else %}
                                <div class="rating-avg">{{ hotel.average_rating|floatformat:1 }}</div>
                                <div class="rating-after">
                                    <div class="rating-mode">/5 ({{hotel.rating_count}} Reviews)</div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="ratings-avg-wrapper">
                                <div class="ratings-avg-item">
                                    <div class="rating-label">Quality</div>
                                    <div class="rating-value text-theme">5.0</div>
                                </div>
                                <div class="ratings-avg-item">
                                    <div class="rating-label">Location</div>
                                    <div class="rating-value text-theme">4.5</div>
                                </div>
                                <div class="ratings-avg-item">
                                    <div class="rating-label">Space</div>
                                    <div class="rating-value text-theme">3.5</div>
                                </div>
                                <div class="ratings-avg-item">
                                    <div class="rating-label">Service</div>
                                    <div class="rating-value text-theme">4.0</div>
                                </div>
                                <div class="ratings-avg-item">
                                    <div class="rating-label">Price</div>
                                    <div class="rating-value text-theme">5.0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).on("click", "#add-to-bookmark", function(){
                let button = $(this)
                let id = button.attr("data-hotel")
                console.log(id);
            
                $.ajax({
                    url: "/dashboard/add_to_bookmark/",
                    beforeSend: function(){
                        console.log("Adding to bookmark...");
                    },
                    data: {
                        "id": id
                    },
                    success: function(res){
                        if(res.data == "Bookmark Deleted"){
                            button.html('<i class="fa fa-heart" style="color: gray;"></i>')
                        } else {
                            button.html('<i class="fa fa-heart" style="color: red;"></i>')
                        }

                        if (res.data == "Please Login To Bookmark Hotel") {
                            alert("Please Login To Bookmark Hotel")
                        }
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top",
                            showConfirmButton: false,
                            timer: 3000,

                        })

                        Toast.fire({
                            icon: res.icon,
                            title: res.data,
                        })
                    }
                });
            })

            $(document).on("click", "#review-btn", function() {
                let button = $(this)
                let id = button.attr("data-hotel")
                let review = $("#review-input").val();
                let rating = $("#rating-input").val();
  
                $.ajax({
                    url: "/dashboard/add_review/",
                    beforeSend: function() {
                        console.log("Adding review...");
                    },
                    data: {
                        "id": id,
                        "review": review,
                        "rating": rating,
                    },
                    success: function(res) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top",
                            showConfirmButton: false,
                            timer: 3000,
  
                        })
  
                        Toast.fire({
                            icon: res.icon,
                            title: res.data,
                        });
                        $("#add-review-button").hide()
                        $("#review_div").html("Review Submitted Successfully")
                    }
                })
            })
        </script>

{% endblock content %}