{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Banner -->
<div class="search_container_block main_search_block" data-background-image="{% static 'images/home_section_1.jpeg' %}">
    <div class="main_inner_search_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Book Unique Experiences</h2>
                    <h4>Discover top rated hotels, shops and restaurants around the world</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="fullwidth_block margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
    <div class="container">
        <div class="row slick_carousel_slider">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-bottom-45">Our Popular Hotels <span>Explore the greates places in the city</span> </h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="simple_slick_carousel_block utf_dots_nav">

                        {% for hotel in hotels %}
                            <div class="utf_carousel_item">
                                <a href="{% url 'hotel:hotel_detail' hotel.slug %}" class="utf_listing_item-container compact">
                                    <div class="utf_listing_item">
                                        <img src="{{ hotel.image.url }}" alt="">
                                        {% if hotel.featured == True %}
                                            <span class="featured_tag">Featured</span>
                                        {% endif %}
                                        <span class="utf_open_now">Open Now</span>
                                        <div class="utf_listing_item_content">
                                            <div class="utf_listing_prige_block">
                                                
                                            </div>
                                            <h3>{{ hotel.name }}</h3>
                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{ hotel.address }}</span>
                                            <span><i class="fa fa-phone"></i> {{ hotel.mobile }} </span>
                                            <span><i class="fa fa-envelope"></i> {{ hotel.email }} </span>
                                        </div>
                                    </div>
                                    <div class="utf_star_rating_section" data-rating="{{ hotel.average_rating|floatformat:1 }}">
                                        <div class="utf_counter_star_rating">{{ hotel.average_rating| floatformat:1}}</div>
                                        <span class="utf_view_count"><i class="fa fa-eye"></i>{{ hotel.views }}</span>
                                        <span class="like-icon"></span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="utf_testimonial_part fullwidth_block padding-top-75 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="headline_part centered"> What Say Our Customers <span class="margin-top-15"></span> </h3>
            </div>
        </div>
    </div>
    <div class="fullwidth_carousel_container_block margin-top-20">
        <div class="utf_testimonial_carousel testimonials">
            <div class="utf_carousel_review_part">
                <div class="utf_testimonial_box">
                    <div class="testimonial">I recently used Cloud9 Booking to book a stay for my vacation, and I couldn't be happier with the experience. The website is user-friendly and easy to navigate. I found a wide range of hotels to choose from, with detailed descriptions, photos, and honest reviews from other travelers.</div>
                </div>
                <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-01.jpg' %}" alt="">
                    <h4>Denwen Evil <span>Web Developer</span></h4>
                </div>
            </div>
            <div class="utf_carousel_review_part">
                <div class="utf_testimonial_box">
                    <div class="testimonial">The booking process was straightforward and quick. I especially appreciated the clear pricing with no hidden fees. The confirmation email arrived immediately, and everything went smoothly upon check-in at the hotel.
                    </div>
                </div>
                <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-02.jpg' %}" alt="">
                    <h4>Adam Alloriam <span>Web Developer</span></h4>
                </div>
            </div>
            <div class="utf_carousel_review_part">
                <div class="utf_testimonial_box">
                    <div class="testimonial">Customer service was also top-notch. I had a question about my booking and received a prompt and helpful response. I will definitely use Cloud9 Booking for my future travel plans and highly recommend it to others!</div>
                </div>
                <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-03.jpg' %}" alt="">
                    <h4>Illa Millia <span>Project Manager</span></h4>
                </div>
            </div>
            <div class="utf_carousel_review_part">
                <div class="utf_testimonial_box">
                    <div class="testimonial">I recently used HotelEasy.com to book a stay for my vacation, and I couldn't be happier with the experience. The website is user-friendly and easy to navigate. I found a wide range of hotels to choose from, with detailed descriptions, photos, and honest reviews from other travelers.</div>
                </div>
                <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-01.jpg' %}" alt="">
                    <h4>Denwen Evil <span>Web Developer</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth_block margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="linear-gradient(to bottom, #f9f9f9 0%, rgba(255, 255, 255, 1))">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered">Our Partners</h3>
                <div class="companie-logo-slick-carousel utf_dots_nav">
                    <div class="item">
                        <img src="{% static 'images/brand_logo_01.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/brand_logo_02.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/brand_logo_03.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/brand_logo_04.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/brand_logo_05.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/brand_logo_06.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/brand_logo_07.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="utf_cta_area_item utf_cta_area2_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf_subscribe_block clearfix">
                    <div class="col-md-8 col-sm-7">
                        <div class="section-heading">
                            <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                            <p class="utf_sec_meta">
                                Subscribe to get latest updates and information.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="contact-form-action">
                            <form method="post">
                                <span class="la la-envelope-o"></span>
                                <input class="form-control" type="email" placeholder="Enter your email" required="">
                                <button class="utf_theme_btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

       